#Samurai sprite sheet
SamuraiSpriteSheet  media/textures/Samurai/samurai_spritesheet.png
Tileset media/textures/map/Tileset.png
Mountains media/textures/map/Mountains.png
Clouds media/textures/map/Clouds.png