#Samurai sprite sheet
SamuraiAttack1  media/textures/Samurai/Attack_1.png
SamuraiAttack2  media/textures/Samurai/Attack_2.png
SamuraiAttack3  media/textures/Samurai/Attack_3.png
SamuraiIdle     media/textures/Samurai/Idle.png
SamuraiRun      media/textures/Samurai/Run.png
SamuraiWalk     media/textures/Samurai/Walk.png
SamuraiDead     media/textures/Samurai/Dead.png